html{
    background:linear-gradient(to right, #ebe5ed 2%,#adbec8 40%, #4c8492 96%);
}

.note{
    text-align: center;
}


h2[value="2"]{
    color: rgb(59, 45, 15);
}
h1{
    font-family:"Dancing Script", cursive; ;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    text-align: left;
}