html{
    background:linear-gradient(to right, #ebe5ed 2%,#adbec8 40%, #4c8492 96%);
}

.paint-header{
    position: absolute;
    opacity: 65%;

}

.header{
    display: flex;
    gap: 100px;
    position: relative;
}

#portfolio{
    font-family:"Dancing Script", cursive;
    font-size: 7rem;
    font-weight: bold;
    color: black;
    margin-left: 2%;
    margin-top: 20px;
}

#menu{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    gap: 100px;
    margin-top: 50px;
    justify-content: flex-end;
    text-align: center;
}

.introduce{
    display: flex;
    gap: 50px;
    text-align: center;
    margin-top: -2%;
}
#aboutme{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    width:60%;
    margin-left: 5%;
}

#tag-name{
    font-family: "WindSong", cursive;;
    font-size: 45px;
}


@media (max-width:500px){
    .header{
        display: flex;
        gap: 2px;
        flex-direction: column;
        column-gap: 2px;
        text-align: center;
    }

    #portfolio{
        text-align: center;  
    }

    #menu{
        display: flex;
        gap: 30px;
        font-size: small;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -20%;
        justify-content: space-between;
    }

    .introduce{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 10%;
        width: 100%;
    }

    #picture1 >img{
        width: 50%;
        text-align: center;
    }

    #aboutme{
        text-align: center;
        width: 90%;
        font-size: 15px;
        margin-top: -10%;
    }

    #tag-name{
        font-size: 20px;
    }
}


@media (min-width:501px) and (max-width:999px){
    .paint-header{
    width: 100%;
    text-align: center;
    }
    .header{
        display: flex;
        gap: 2px;
        flex-direction: column;
        column-gap: 2px;
        text-align: center;
    }

    #portfolio{
        text-align: center;  
    }

    #menu{
        display: flex;
        gap: 20px;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -8%;
        justify-content: space-between;
        font-size: 18px;
    }

    .introduce{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 10%;
        width: 100%;
        margin-top: 2%;
        gap: 2px;
    }

    #picture1 >img{
        background-color: green;
        width: 30%;
    }

    #aboutme{
        text-align: center;
        width: 90%;
        font-size: 20px;
    }

    #tag-name{
        font-size: 30px;
    }
}


@media (min-width:1000px) and (max-width:1200px){
    .paint-header{
    width: 100%;
    text-align: center;
    }
    .header{
        display: flex;
        gap: 2px;
        flex-direction: column;
        column-gap: 2px;
        text-align: center;
    }

    #portfolio{
        text-align: center;  
    }

    #menu{
        display: flex;
        gap: 40px;
        font-size: small;
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -8%;
        justify-content: space-between;
        font-size: 20px;
    }

    .introduce{
        display: flex;
        flex-direction: row;
        text-align: center;
        margin-top: 10%;
        width: 100%;
        gap: 2%;
        margin-top: 2%;
    }

    #picture1 >img{
        width: 65%;
        background-color: green;
    }

    #aboutme{
        text-align: center;
        width: 70%;
        font-size: 20px;
    }

    #tag-name{
        font-size: 30px;
    }
}
